{% extends 'core/base.html' %}

{% block content %}
<h2 style="margin-left: 10%;" >SignUp</h2>
<br>
<div style="margin-left: 2%;">
<form method="post">
    {% csrf_token %}

    {{ form.non_field_errors }}

    <label style="width: 150px;">Username:</label>
    {{ form.username }}
    <br>
    <br>
    {{ form.username.errors }}

    <label style="width: 150px;">Password:</label>
    {{ form.password1 }}
    <br><br>
    {{ form.password1.errors }}

    <label style="width: 150px;">Confirm Password:</label>
    {{ form.password2 }}
    <br><br>
    {{ form.password2.errors }}

    <button type="submit">SignUp</button>
</form>

<br>
<a href="{% url 'core:login' %}">Already have an account, Login</a>
</div>
{% endblock %}